!!! 5
%html
  %head
    %title AppleCidr
    = csrf_meta_tags
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
%body
  = render 'layouts/messages'
  .container
    .row
      .col-sm-8.col-sm-offset-2
        = yield
